*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

/*MENU*/
#containerForTheAim {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    cursor: none;
    
}
#crosshair {
    position: absolute;
    transform: translate(-50%, -50%);
}
.space {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(40, 0, 101), rgb(65, 20, 100));
    z-index: 0;
}
.character {
    position: absolute;
    width: 10%;
    top: 78%;
    left: 3%;
    filter: drop-shadow(-15px 0px 10px hsla(0, 0%, 0%, 0.26));
    z-index: 3;
    pointer-events: none;
}
.nave_menu {
    position: absolute;
    width: 40%;
    top: 48%;
    z-index: 2;
    pointer-events: none;
    
}
.stars {
    position: absolute;
    background-color: rgb(231, 209, 229);
    z-index: 1;
    box-shadow: 0px 0px 10px 1px #fff;
    animation: starsMenu 3s linear infinite;
}
@keyframes starsMenu {
    100% {
        rotate: 360deg;
    }
}
.shootingStars {
    position: absolute;
    top: -100%;
    height: 64px;
    width: 64px;
    background: none;
    z-index: 0;
}
.shootingStars_blur {
    position: absolute;
    top: -100%;
    height: 72px;
    width: 72px;
    background: none;
    z-index: 1;
    filter: blur(10px);
}
.rect_menu {
    position: absolute;
    height: 8%;
    width: 12%;
    cursor: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-Family: 'Arial';
    font-Size: 30px;
    color: white;
    text-shadow: 0px 0px 10px hsla(0, 0%, 100%, 0.75);

    transform: translate(150%, 150%);
    border: 5px solid hsla(0, 0%, 100%, 0.75);
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 100%, 0.75);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2; 
}
.rect_menu:hover {
    animation: rainbow_border 5s ease-in-out infinite;
}
@keyframes rainbow_border { 

    0%{
        border: 5px solid hsla(0, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(0, 100%, 50%, 0.75);
        color: hsla(0, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(0, 100%, 50%, 0.75);
        height: 8%;
        width: 12%;
        font-Size: 30px;
        transform: translate(150%, 150%);
    }
    10%{
        border: 5px solid hsla(36, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(36, 100%, 50%, 0.75);
        color: hsla(36, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(36, 100%, 50%, 0.75);
        height: 9%;
        width: 13%;
        font-Size: 32px;
        transform: translate(135%, 130%);
    }
    20%{
        border: 5px solid hsla(64, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(64, 100%, 50%, 0.75);
        color: hsla(64, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(64, 100%, 50%, 0.75);
        height: 8%;
        width: 12%;
        font-Size: 30px;
        transform: translate(150%, 150%);
    }
    30%{
        border: 5px solid hsla(110, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(110, 100%, 50%, 0.75);
        color: hsla(110, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(110, 100%, 50%, 0.75);
        height: 9%;
        width: 13%;
        font-Size: 32px;
        transform: translate(135%, 130%);
    }
    40%{
        border: 5px solid hsla(173, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(173, 100%, 50%, 0.75);
        color: hsla(173, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(173, 100%, 50%, 0.75);
        height: 8%;
        width: 12%;
        font-Size: 30px;
        transform: translate(150%, 150%);
    }
    50%{
        border: 5px solid hsla(206, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(206, 100%, 50%, 0.75);
        color: hsla(206, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(206, 100%, 50%, 0.75);
        height: 9%;
        width: 13%;
        font-Size: 32px;
        transform: translate(135%, 130%);
    }
    60%{
        border: 5px solid hsla(247, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(247, 100%, 50%, 0.75);
        color: hsla(247, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(247, 100%, 50%, 0.75);
        height: 8%;
        width: 12%;
        font-Size: 30px;
        transform: translate(150%, 150%);
    }
    70%{
        border: 5px solid hsla(275, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(275, 100%, 50%, 0.75);
        color: hsla(275, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(275, 100%, 50%, 0.75);
        height: 9%;
        width: 13%;
        font-Size: 32px;
        transform: translate(135%, 130%);
    }
    80%{
        border: 5px solid hsla(318, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(318, 100%, 50%, 0.75);
        color: hsla(318, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(318, 100%, 50%, 0.75);
        height: 8%;
        width: 12%;
        font-Size: 30px;
        transform: translate(150%, 150%);
    }
    90%{
        border: 5px solid hsla(35, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(35, 100%, 50%, 0.75);
        color: hsla(35, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(35, 100%, 50%, 0.75);
        height: 9%;
        width: 13%;
        font-Size: 32px;
        transform: translate(135%, 130%);
    }
    100%{
        border: 5px solid hsla(0, 100%, 50%, 0.75);
        box-shadow: 0px 0px 10px 0px hsla(0, 100%, 50%, 0.75);
        color: hsla(0, 100%, 50%, 0.75);
        text-shadow: 0px 0px 10px hsla(0, 100%, 50%, 0.75);
        height: 8%;
        width: 12%;
        font-Size: 30px;
        transform: translate(150%, 150%);
    }
}
.credits {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-Family: 'Arial';
    font-Size: 15px;
    color: white;
    bottom: 0%;
    left: 85%;
}
.containerClouds {
    position: absolute;
    height: 150px;
    width: 350px;
    left: -70%;
    border: none;
    overflow: hidden;
}
.clouds{
    position: relative;
    background: rgb(209, 172, 219);
    border-radius: 50px 50px;
    position: absolute;
  
    height: 40%;
    width: 100%;
    top: 50%;
    z-index: 1;
}
@keyframes goLeft{
    100% {
    left: calc(100% + 50px);
    }
}